@model MPCRS.ViewModels.CastingViewModel
@using MPCRS.Utilities;
@using System.Data;
@{
    ViewData["Title"] = "Casting Details";
    var CastingWriteAccess = UserData.IsAuthorized(User, Constants.UserPermissions.Casting_Write);
    var CastingWriteReceipts = UserData.IsAuthorized(User, Constants.UserPermissions.Casting_Write_Receipts);
    var DeleteAccess = UserData.IsAuthorized(User, Constants.UserPermissions.Casting_Delete);
    SelectList DocumentList = Masters.CastingReciptDocsReference(@Model.castingDetailViewModel.CastingDbkey);
    
    string[] attachkeys;
} 

<link href="~/vendors/choices/choices.min.css" rel="stylesheet" />
<link href="~/css/jquery-ui.css" rel="stylesheet" />


<style>
    .choices {
        position: relative;
        overflow: hidden;
        margin-bottom: 1px;
        font-size: 16px;
        padding: 0px !important
    }


    .ui-autocomplete {
        z-index: 9999 !important;
    }
</style>


<input type="hidden" id="GlobalCastingDbkey" value="@Model.castingDetailViewModel.CastingDbkey" />
<input type="hidden" id="isCustomAccess" value="@ViewBag.customAccess" />
<input type="hidden" id="Id" value="@ViewBag.Id" />


<div class="row">

    @if (ViewBag.customAccess == "false")
    {
        <div class="col float-end">
            <a href="/Casting/CastingList" class="btn btn-secondary btn-small float-end">Back</a>

        </div>
    }

    <table class="table table-sm table-bordered m-0">
        <tbody>
            <tr>
                <th>
                    Casting Order
                    @{
                        if (CastingWriteAccess)
                        {
                            <i class="text-primary uil uil-edit fs-1 float-end" style="cursor:pointer" onclick="CreateEditCastingOrder(@Model.castingDetailViewModel.CastingDbkey)" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Casting"></i>
                        }
                    }
                </th>
            </tr>
        </tbody>
    </table>
    <div class="col-12 p-0" id="order-basic-info-area">
        <table class="table table-sm table-bordered table-hover table-primary" style="border:1px!important solid;border-color:black">
            <tr>
                <th>Demand Number</th>
                <td>@Model.castingDetailViewModel.DemandNumber</td>
                <th>MMG Number</th>
                <td>@Model.castingDetailViewModel.MMGOrderNumber</td>
                <th>Status</th>
                <td>@Model.castingDetailViewModel.OrderStatus</td>
            </tr>
            <tr>
                <th>Demand Description </th>
                <td colspan="5">@Model.castingDetailViewModel.DemandDesc </td>
            </tr>
            <tr>
                <th>Order Date</th>
                <td>@MPGlobals.GetFormattedDate(Model.castingDetailViewModel.OrderDate)</td>

                <th>Remarks</th>
                <td colspan="3">@Model.castingDetailViewModel.Remarks</td>
            </tr>
            <tr>
                <th>Order Number(s)</th>
                <td>@Model.castingDetailViewModel.OrderNumbers</td>
                <th>Demanding Officer</th>
                <td colspan="3">@Model.castingDetailViewModel.DOName</td>
            </tr>
        </table>
    </div>

</div>
<div class="row">
    @{
        if (Model.castingDetailViewModel.CastingDbkey != 0)
        {
            <table class="table table-sm table-bordered m-0">
                <tbody>
                    <tr>
                        <th>
                            Items
                            @{
                                if (CastingWriteAccess)
                                {
                                    <i class="text-primary uil uil-edit fs-1 float-end" style="cursor:pointer" onclick="EditCastingItems(@Model.castingDetailViewModel.CastingDbkey)" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Items"></i>
                                }
                            }
                        </th>
                    </tr>
                </tbody>
            </table>
            <div class="col-12 p-0" id="casting-items-container">
                <table class="table table-sm table-bordered table-hover table-warning">
                    <thead>
                        <tr>
                            <th>Part</th>
                            <th>Order Number</th>
                            <th>Expected Delivery Date</th>
                            <th class="text-end">Order Qty</th>
                            <th class="text-end">Received</th>
                            <th class="text-end">Accepted</th>
                            <th class="text-end">Rejected</th>
                            <th class="text-end">Balance</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model.CastingItemViewModel )
                            {
                                <tr>
                                    <td>
                                        <p class="mb-0"><b>@item.PartName</b> </p>
                                        <p class="mb-0">[@item.Vendor_Name]</p>
                                    </td>
                                    <td>@item.OrderNumber</td>
                                    <td>@MPGlobals.GetFormattedDate(item.DeliveryDate)</td>
                                    <td class="text-end">@item.OrderQty</td>
                                    <td class="text-end">@item.SumReceivedQty</td>
                                    <td class="text-end text-success">@item.AcceptedQty</td>
                                    <td class="text-end text-danger">@item.RejectedQty</td>
                                    <td class="text-end">@(item.OrderQty - item.SumReceivedQty)</td>
                                    <td>@item.ItemDescription</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        }
    }


</div>

<div class="row">
    @{
        if (Model.castingDetailViewModel.CastingDbkey != 0 && Model.CastingItemViewModel.Count > 0)
        {
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <b>Receipts</b>
                    </div>
                    <div class="col-6">
                        @{
                            if (CastingWriteReceipts)
                            {
                                <a href="#" class="text-primary float-end" onclick="GetCastingReceiptSplitModel(@Model.castingDetailViewModel.CastingDbkey,0)"><b>Create New Receipt</b></a>
                            }
                        }
                    </div>
                </div>
                <hr />
                <div class="row">

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation"><a class="nav-link active" onclick="dataTable.draw()" data-bs-toggle="tab" href="#tab-batch" role="tab" aria-controls="batchsummary-tab" aria-selected="true">Receipts (Batch Summary)</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" onclick="partsDataTable.draw()" id="Parts-tab" data-bs-toggle="tab" href="#tab-detail" role="tab" aria-controls="Detail-list-tab" aria-selected="false" tabindex="-1">Receipts (Details) </a></li>
                    </ul>

                    <div class="tab-content mt-0" id="myTabContent">
                        <div class="tab-pane fade show active" id="tab-batch" role="tabpanel" aria-labelledby="batchsummary-tab">

                            <table class="table table-bordered" id="casting-receiptBatch-display">
                                <thead>
                                    <tr>
                                        <th>Part</th>
                                        <th>Receipt Date</th>
                                        <th>Batch No</th>
                                        @{
                                            foreach (var StatusRemark in Model.receiptBatchSummary.Select(x => x.StatusRemarks).Distinct())
                                            {
                                                <th class="text-end">@StatusRemark</th>
                                            }
                                        }
                                        <th class="text-end">Total</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @{
                                        foreach (var item in Model.receiptBatchSummary.Select(x => new { x.Vendor_Name, x.PartName, x.ReceiptDate, x.BatchNumber, x.OrderItemKey }).Distinct())
                                        {
                                            double? rowTot = 0;
                                            var receiptNumbers = "";


                                            foreach (var rptno in Model.receiptSplitVMs.Where(x => x.BatchNumber == item.BatchNumber && x.OrderItemKey == item.OrderItemKey && x.ReceiptDate == item.ReceiptDate).Select(x=>x.ReceiptNumber).ToList().Distinct() )
                                            {
                                                receiptNumbers = (receiptNumbers == "" ? rptno : receiptNumbers + ", " + rptno);
                                            }

                                            <tr>
                                                <td> <b>@item.PartName</b>  <p>[@item.Vendor_Name]</p>  </td>
                                                <td> <b>@MPGlobals.GetFormattedDate(item.ReceiptDate)</b>   <p>[@receiptNumbers]</p>  </td>
                                                <td> @item.BatchNumber </td>
                                                @{
                                                    foreach (var StatusRemark in Model.receiptBatchSummary.Select(x => x.StatusRemarks).Distinct())
                                                    {
                                                        var splitQty = Model.receiptBatchSummary.Where(x => x.Vendor_Name == item.Vendor_Name &&
                                                        x.PartName == item.PartName && x.ReceiptDate == item.ReceiptDate &&
                                                        x.BatchNumber == item.BatchNumber
                                                        && x.OrderItemKey == item.OrderItemKey && x.StatusRemarks == StatusRemark).Select(x => x.SplitQty).Sum();
                                                        rowTot = rowTot + splitQty;
                                                        <td class="text-end">@splitQty</td>
                                                    }
                                                }
                                                <td class="text-end"> <b>@rowTot</b> </td>
                                            </tr>
                                        }
                                    }  
                                </tbody> 
                            </table>

                        </div>
                        <div class="tab-pane fade show" id="tab-detail" role="tabpanel" aria-labelledby="Detail-list-tab">
                            <table class="table table-bordered  table-condensed table-sm" id="casting-receipt-display" style="width:100%;border:1px!important;">
                                <thead>
                                    <tr>
                                        <th>Receipt No/Date</th>
                                        <th>Part</th>
                                        <th>Batch No</th>
                                        <th>Qty Received</th>
                                        <th>Attachments</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="casting_split_tbl_bdy">
                                    @{
                                        foreach (var item in Model.receiptSplitVMs)
                                        {
                                            <tr>
                                                <td>
                                                    <b>@item.ReceiptNumber</b>
                                                    <p class="p-0 m-0">@MPGlobals.GetFormattedDate(item.ReceiptDate)</p>
                                                </td>
                                                <td><b>@item.PartName @((string.IsNullOrEmpty(item.Revision)) ? "" : " (Rev: " + item.Revision + ")") </b> <p class="p-0 m-0">[@item.Vendor_Name]</p></td>
                                                <td>@item.BatchNumber</td>
                                                <td>
                                                    <partial name="../Casting/CastingQtySplit.cshtml" model="@item.Id.ToString()">
                                                        @{
                                                            if (!string.IsNullOrEmpty(item.Remarks))
                                                            {
                                                                <p class="p-0 m-0"> <b>Remarks: </b> @item.Remarks</p>
                                                            }
                                                        }
                                                </td>
                                                <td>
                                                    @{
                                                        var data = new MPCRS.ViewModels.DetailedCastingDataVM();
                                                        data.EnginePartDbkey = item.EnginePartDbkey;
                                                        data.SplitId = item.Id;
                                                        <partial name="../Casting/CastingSplitDocChecklist.cshtml" model="data" />
                                                    }
                                                </td>
                                                <td>
                                                    <i class="text-primary uil uil-edit fs-1" style="cursor:pointer" onclick="GetCastingReceiptSplitModel(@item.CastingDbkey,@item.Id)"></i>
                                                    @{
                                                        if (DeleteAccess)
                                                        {
                                                            <p class="p-0 m-0"><i class="text-warning uil uil-trash fs-1" style="cursor:pointer" onclick="DeleteCastingComponents(this,@item.Id,'CastingReceiptsItemSplit')"></i></p>
                                                        }
                                                    }
                                                </td>
                                            </tr>

                                        }
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

</div>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/mpi/casting.js" asp-append-version="true"></script>
    <script src="~/vendors/choices/choices.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>

    <script>
        $(document).ready(function () {
            if (document.getElementById("isCustomAccess").value == "true") {
                document.getElementById("navbarTop").innerHTML = "";
            }

            if (document.getElementById("Id").value == "NEW") {
                CreateEditCastingOrder(0, '');
            } 
            
             else {
                $('#casting-receipt-display').DataTable({
                    paging: false,
                    order: [1],
                   // scrollY: 280,
                });
                $('#casting-receiptBatch-display').DataTable({
                    paging: false,
                    order: [1],
                   // scrollY: 280,
                });
             }
        });
    </script>

}
