@using System.Data
@model DataTable
@{
    ViewBag.Title = "InventoryReportDetail";
 
}

<style>
    #InventoryReportTable td {
        white-space: nowrap;
    }

    td {
        padding: 2px !important;
        font-size: small !important;
    }

    th {
        font-size: small !important;
    }

    body {
        font-size: small;
        background-color: white;
    }

    /* Center-align the buttons */
    .dataTables_wrapper .dataTables_filter {
        float: left;
    }

    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
        float: right;
    }

    /* Add margin between search box and buttons */
    .dataTables_wrapper .dataTables_filter {
        margin-right: 20px;
    }

    .table {
        --phoenix-table-striped-bg: white;
    }


    .buttons-html5 {
        padding: 0.25rem 0.5rem; /* Adjust padding to make the button smaller */
        font-size: 0.675rem; /* Adjust font size to make the text smaller */
        line-height: 1.5;
    }

    /* Custom styles for smaller paging dropdown */

    .dataTables_length select {
        padding: 0.225rem 0.35rem; /* Adjust padding to make the dropdown smaller */
        font-size: 0.65rem; /* Adjust font size to make the text in the dropdown smaller */
    }

    .form-control-sm {
        min-height: calc(1.39em + 0.65rem + 2px);
        padding: 0.175rem 0.35rem;
        font-size: 0.6rem;
        border-radius: 0.375rem;
    }

    .buttons-excel, .buttons-html5, .btn-smaller {
        padding: 0.25rem 0.5rem; /* Adjust padding to make the button smaller */
        font-size: 0.675rem; /* Adjust font size to make the text smaller */
        line-height: 1.5; /* Adjust line height for proper text alignment */
    }

    .content {
        min-height: 100vh;
        padding: calc(var(--phoenix-navbar-top-height) + 0.5rem) 1.5rem 6.375rem 1.5rem;
        /* padding-bottom: 6rem; */
    }
</style>


<div class="page-header">
    <div class="col-12">
        <div class="row">
            <div class="col-md-4">
                <h4> Inventory Detail of Raw-Material -  @Model.Rows[0]["Raw_material_Name"]</h4>
            </div>
            <div class="col-md-2">
                <div class="box bg-info darken" style="border: 2px solid #ccc; border-radius: 10px;">
                    <div class="box-cell p-x-3 p-y-1" style="margin-left: 10px;">
                        <div class="font-weight-semibold font-size-12 "><b>RECEVIED</b></div>
                        <div class="font-weight-bold font-size-20"> <b>@Model.Rows[0]["RecivedInvebtory"] @Model.Rows[0]["UOM"]</b></div>
                        <i class="box-bg-icon middle right font-size-52"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="box bg-warning darken" style="border: 2px solid #ccc; border-radius: 10px;">
                    <div class="box-cell p-x-3 p-y-1" style="margin-left: 10px;">
                        <div class="font-weight-semibold font-size-12"><b>ISSUED</b></div>
                        <div class="font-weight-bold font-size-20"> <b>@Model.Rows[0]["Issued"]  @Model.Rows[0]["UOM"]</b></div>
                        <i class="box-bg-icon middle right font-size-52"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="box bg-success darken" style="border: 2px solid #ccc; border-radius: 10px;">
                    <div class="box-cell p-x-3 p-y-1" style="margin-left: 10px;">
                        <div class="font-weight-semibold font-size-12"><b>BALANCE</b></div>
                        <div class="font-weight-bold font-size-20"> <b>@Model.Rows[0]["balance"] @Model.Rows[0]["UOM"]</b></div>
                        <i class="box-bg-icon middle right font-size-52 "></i>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <a href="~/Report/InventoryReport" class="btn btn-danger float-end btn-smaller" style="margin-right:4px">Back</a>
            </div>
        </div>
    </div>
</div>
<hr />

<div class="col-md-12 col-sm-12 col-lg-12">
    <table id="datatables" class="table table-striped table-bordered table-condensed" cellspacing="0" style="width:100%">
        <thead>
            <tr>
                <th>SL</th>
                <th>Material</th>
                <th>UOM</th>
                <th>MMG File No</th>
                <th>Receipt No</th>
                <th>Receipt Date</th>
                <th>Weight(Kg)</th>
                <th>@Model.Rows[0]["Master_Name"] No</th>
                <th>length</th>
                <th>Breadth</th>
                <th>Heat No</th>
                <th>Batch No</th>
                <th>Is Issued</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {

    <script>

        $(document).ready(function () {
            GetRawMaterialMaster();
        });

        var dataTable;
        function GetRawMaterialMaster() {

            try {
                dataTable.destroy();
            } catch (e) {
            }

            dataTable = $("#datatables").DataTable({
                "ajax": {
                    "url": "/Report/GetRawmaterialsInventoryDetail?Raw_material_Dbkey=" + @ViewBag.Raw_material_Dbkey,
                    "type": "GET",
                    "dataSrc": "",
                    "datatype": "json"
                },
                dom: 'Bfrtip',
                buttons: [{
                    extend: 'excel',
                    title: 'Inventory Detail of Raw-Material',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14] //Your Colume value those you want
                    }
                }],
                "paging": false,
                "columns": [
                    { "data": "NUMBER" },
                    { "data": "Raw_material_Name" },
                    { "data": "UOM" },
                    { "data": "MMG_File_No" },
                    { "data": "Receipt_No" },
                    {
                        "data": "Receipt_Date", render: function (data, type, row) {
                            if (type === 'display' || type === 'filter') {
                                var rowvalue = row["Receipt_Date"];
                                return (moment(data).format("DD/MM/YYYY"));
                            }

                            return data;
                        }
                    },
                    { "data": "Weight" },
                    { "data": "Material_Reference_No" },
                    { "data": "Measurement" },
                    { "data": "Measurement_breadth" },
                    { "data": "Heat_No" },
                    { "data": "Batch_No" },
                    { "data": "split_issue_id" }

                ],

                "rowCallback": function (row, data, index) {
                    if (data.split_issue_id == 'No') {
                        $('td', row).css('color', '#52bcdc');
                    } else {
                        $('td', row).css('color', '#ee8f09');
                    }


                },
            });

            $('.DT-search .form-control').attr('placeholder', 'Search...');
            $('.DT-search .form-control').attr('class', 'DT-search form-control');
            $('.DT-lf-right').attr('class', 'pull-left');
            $('.dataTables_length').attr('class', 'dataTables_length DT-lf-right');

        }
    </script>



}