@model string
@using MPCRS.Utilities;
@using System.Data
@{
    DataTable dataTable = MPGlobals.GetDataForDatalist($"[dbo].[MasterSearch_ACSN] @PartNumber = '{Model}'");
}
<label> ACSN Detail </label>
@{
    if (dataTable.Rows.Count > 0)
    {
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>Sl No</th>
                    <th>Series</th>
                    <th>ACSN # </th>
                    <th>Module Ref </th>
                    <th>Drawing No.</th>
                    <th>Description</th>
                    <th>Module</th>
                    <th>Rev</th>
                    <th>New Rev</th>
                    <th>Current Step</th>
                    <th>Status</th>
                    <th>Remarks</th>
                    <th>Attachments</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (DataRow item in dataTable.Rows)
                    {
                        <tr>
                            <td>@item["rn"]</td>
                            <td>@item["Series"]</td>
                            <td>@item["ACSNnum"]</td>
                            <td>@item["ModuleRefNum"]</td>
                            <td>@item["DrawingNumber"]</td>
                            <td>@item["description"]</td>
                            <td>@item["ModuleName"]</td>
                            <td>@item["existingRevision"]</td>
                            <td>@item["NewRevision"]</td>
                            <td style="cursor:pointer" onclick="StatusUpdatePopUP(@item["acsnKey"])">
                                <span>@item["StepStatus"]</span>
                            </td>
                            <td>
                                <span class="badge badge-phoenix fs--2 @(item["ACSN_Status"].ToString() == "Open" ? "badge-phoenix-warning" : "badge-phoenix-success")">
                                    @item["ACSN_Status"]
                                </span>
                            </td>
                            <td>@item["Remarks"]</td>
                            <td>
                                @if (item["AttachmentFiles"] != DBNull.Value && !string.IsNullOrEmpty(item["AttachmentFiles"].ToString()))
                                {
                                    @Html.Raw(item["AttachmentFiles"])
                                }
                                else
                                {
                                    <span class="text-muted">-</span>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

    }
    else
    {
        <p>No records found.</p>
    }
}
